[Desktop Entry]
Encoding=UTF-8
Value=1.0
Type=Application
Name=Metro
GenericName=Metro
Comment=Metro
Icon=/work/Torrents/Metro 2033 Redux/icon.png
Exec="/work/Torrents/Metro 2033 Redux/metro"
Categories=Game;
Path=/work/Torrents/Metro 2033 Redux

