[Desktop Entry]
Encoding=UTF-8
Value=1.0
Type=Application
Name=Transistor
GenericName=Transistor
Comment=Transistor
Icon=/work/Torrents/Transistor/game/game/Transistor.bmp
Exec="/work/Torrents/Transistor/start"
Categories=Game;
Path=/work/Torrents/Transistor

